@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Plus+Jakarta+Sans&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  background-color: #f5f6fb;
}

div {
  background-color: #f5f6fb;
}

/* Custom scrollbar styles */
::-webkit-scrollbar {
  width: 6px; /* width of the entire scrollbar */
}

::-webkit-scrollbar-track {
  background: #fff; /* color of the track */
}

::-webkit-scrollbar-thumb {
  background-color: #fff; /* color of the scrollbar thumb */
  border-radius: 10px; /* roundness of the scroll thumb */
  border: 3px solid #f1f1f1; /* creates padding around thumb */
}

::-webkit-scrollbar-thumb:hover {
  background: #fff; /* color of the thumb when hovered */
}
